In [1]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd

In [2]:
df = pd.read_csv("../DATA/Advertising.csv")

In [3]:
df.head()

      TV  radio  newspaper  sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3    9.3
3  151.5   41.3       58.5   18.5
4  180.8   10.8       58.4   12.9

In [9]:
X = df.drop('sales', axis=1)
y = df['sales']

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=101)

from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(X_train)
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

In [14]:
from sklearn.linear_model import Ridge
from sklearn.model_selection import cross_validate

In [16]:
model = Ridge(alpha=100)

In [18]:
scores = cross_validate(model, X_train, y_train, scoring=['neg_mean_squared_error',
                                                          'neg_mean_absolute_error'], cv=10)

In [19]:
scores = pd.DataFrame(scores)

In [20]:
scores

,fit_time,score_time,test_neg_mean_squared_error,test_neg_mean_absolute_error
0,0.015718,0.001004,-6.060671,-1.810212
1,0.000999,0.000000,-10.627031,-2.541958
2,0.001004,0.000995,-3.993426,-1.469594
3,0.001002,0.000999,-5.009494,-1.862769
4,0.000000,0.001000,-9.141800,-2.520697
5,0.001000,0.000000,-13.086256,-2.459995
6,0.000999,0.000000,-3.839405,-1.451971
7,0.001000,0.001000,-9.058786,-2.377395
8,0.000000,0.001000,-9.055457,-2.443344
9,0.001000,0.000000,-5.778882,-1.899797

In [21]:
scores.mean()

fit_time                        0.002272
score_time                      0.000600
test_neg_mean_squared_error    -7.565121
test_neg_mean_absolute_error   -2.083773
dtype: float64

In [22]:
model = Ridge(alpha=1)

In [23]:
scores = cross_validate(model, X_train, y_train, scoring=['neg_mean_squared_error',
                                                          'neg_mean_absolute_error'], cv=10)

In [24]:
scores = pd.DataFrame(scores)

In [25]:
scores

,fit_time,score_time,test_neg_mean_squared_error,test_neg_mean_absolute_error
0,0.001171,0.001051,-2.962508,-1.457174
1,0.001303,0.001101,-3.057378,-1.555308
2,0.001014,0.001895,-2.173740,-1.238770
3,0.000996,0.001420,-0.833034,-0.768938
4,0.001015,0.001991,-3.464018,-1.434489
5,0.000504,0.002008,-8.232647,-1.494316
6,0.000997,0.002329,-1.905864,-1.081362
7,0.001014,0.000991,-2.765048,-1.250011
8,0.001001,0.001000,-4.989505,-1.580971
9,0.001018,0.001001,-2.846438,-1.223326

In [26]:
scores.mean()

fit_time                        0.001003
score_time                      0.001479
test_neg_mean_squared_error    -3.323018
test_neg_mean_absolute_error   -1.308467
dtype: float64

In [27]:
model.fit(X_train, y_train)

Ridge(alpha=1)

In [29]:
y_final_predict = model.predict(X_test)

In [30]:
from sklearn.metrics import mean_squared_error

In [32]:
mean_squared_error(y_test, y_final_predict)

2.319021579428752