In [3]:
with open('One.txt') as mytext:
    word_one = mytext.read().lower().split()
    uni_words_one = set(word_one)

In [4]:
uni_words_one

{'a',
 'about',
 'animals',
 'are',
 'canine',
 'dogs',
 'furry',
 'is',
 'our',
 'pets',
 'story',
 'this'}

In [5]:
with open('Two.txt') as mytext:
    word_two = mytext.read().lower().split()
    uni_words_two = set(word_two)

In [6]:
uni_words_two

{'a',
 'about',
 'catching',
 'fun',
 'is',
 'popular',
 'sport',
 'story',
 'surfing',
 'this',
 'water',
 'waves'}

In [9]:
all_uni_words = set()
all_uni_words.update(uni_words_one)

In [10]:
all_uni_words.update(uni_words_two)

In [14]:
full_vocab = dict()
i = 0

for word in all_uni_words:
    full_vocab[word] = i
    i = i+1

In [15]:
full_vocab

{'dogs': 0,
 'about': 1,
 'our': 2,
 'pets': 3,
 'furry': 4,
 'a': 5,
 'is': 6,
 'canine': 7,
 'waves': 8,
 'popular': 9,
 'surfing': 10,
 'fun': 11,
 'this': 12,
 'water': 13,
 'catching': 14,
 'story': 15,
 'animals': 16,
 'sport': 17,
 'are': 18}

In [23]:
one_freq = [0] * len(full_vocab)
two_freq = [0] * len(full_vocab)
all_words = [''] * len(full_vocab)

In [24]:
one_freq

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [25]:
with open('One.txt') as f:
    one_text = f.read().lower().split()

In [26]:
one_text

['this',
 'is',
 'a',
 'story',
 'about',
 'dogs',
 'our',
 'canine',
 'pets',
 'dogs',
 'are',
 'furry',
 'animals']

In [27]:
for word in one_text:
    word_ind = full_vocab[word]
    one_freq[word_ind] += 1

In [28]:
one_freq

[2, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1]

In [29]:
with open('Two.txt') as f:
    two_text = f.read().lower().split()

In [30]:
two_text

['this',
 'story',
 'is',
 'about',
 'surfing',
 'catching',
 'waves',
 'is',
 'fun',
 'surfing',
 'is',
 'a',
 'popular',
 'water',
 'sport']

In [31]:
for word in two_text:
    word_ind = full_vocab[word]
    two_freq[word_ind] += 1

In [32]:
two_freq

[0, 1, 0, 0, 0, 1, 3, 0, 1, 1, 2, 1, 1, 1, 1, 1, 0, 1, 0]

In [33]:
all_words

['', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '']

In [34]:
for word in full_vocab:
    word_ind = full_vocab[word]
    all_words[word_ind] = word

In [35]:
all_words

['dogs',
 'about',
 'our',
 'pets',
 'furry',
 'a',
 'is',
 'canine',
 'waves',
 'popular',
 'surfing',
 'fun',
 'this',
 'water',
 'catching',
 'story',
 'animals',
 'sport',
 'are']

In [37]:
import pandas as pd
bow = pd.DataFrame(data = [one_freq, two_freq], columns = all_words)

In [38]:
bow

,dogs,about,our,pets,furry,a,is,canine,waves,popular,surfing,fun,this,water,catching,story,animals,sport,are
0,2,1,1,1,1,1,1,1,0,0,0,0,1,0,0,1,1,0,1
1,0,1,0,0,0,1,3,0,1,1,2,1,1,1,1,1,0,1,0